{% if error is defined %}
	<div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}

<form role="form" action="settingsPost" method="post">
	<div class="form-group">
		<label for="site_title">Site Title</label>
		<input type="text" name="site_title" class="form-control" id="site_title" value="{{site_title}}">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

<br />
<hr />
<!-- Form for uploads -->
<form enctype="multipart/form-data" action="upload" method="post">
	<div class="form-group">
		<label for="upload">Upload Photo (current: {{about_picture}})</label>
		<input type="file" name="upload" class="form-control" id="upload">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>