<!-- This file only runs to allow the user to set a username and password -->
<style>#blogBanner, #blogMenu { display:none; }</style>
<br /><br />
<div class="jumbotron">
	<h1>Welcome!</h1>
	<p>Hello, it looks like this is your first time logging into CherryBlog. This username and password will be used to protect your account. I would advise against using "admin", "root", or "administrator" as a username. Thanks and I hope you enjoy!</p>
	<p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

{% if error is defined %}
	<div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}

<form role="form" action="register" method="post">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" name="username" class="form-control" id="username" placeholder="Enter Username (4 characters or longer)">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" class="form-control" id="password" placeholder="Enter Password (8 characters or longer)">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>